.app {
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 550px) {

  .app {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "list . header header header . ."
      "list . header header header . ."
      "list todo todo todo todo todo todo"
      "list todo todo todo todo todo todo"
      "list todo todo todo todo todo todo"
      "footer footer footer footer footer footer footer";
  }
}
